section {
  width: 39vw;
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: center;
  margin: 20px auto;
  flex-wrap: wrap;

  .square-container {
    flex: 0 0 32%;
    border: solid 1px grey;
    border-radius: 4px;
  }
}
