#squares {
  .game-square {
    height: 13vw;
    width: auto;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;

    .square-character {
      justify-content: center;
      align-self: center;
      text-align: center;
      font-size: 100px;
    }
  }

  .noClick {
    pointer-events: none;
  }
}
