#gamepage {
  width: 100vw;
  height: 100vh;
  background-color: #e9ecef;
  display: flex;

  .gamesite {
    width: 60vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
    background-color: white;
    flex-direction: column;

    h1 {
      text-align: center;
      margin-top: 10px;
    }

    .btn-list {
      display: flex;
      .btn-primary {
        width: auto;
        margin: 0 auto 20px;
      }
    }
    
  }
}