<div id="gamepage">
  <div class="gamesite">
    <div class="header">
      <h1 *ngIf="gameService.isGameRunning" [ngClass]="{'text-teal': gameService.activePlayer == 'O'}">
        {{ gameService.activePlayer }}'S TURN
      </h1>
      <h1 *ngIf="!gameService.isGameRunning"> Tic-Tac-Toe </h1>
    </div>
    <app-gameboard></app-gameboard>
    <h1 *ngIf="gameService.winner"> {{gameService.activePlayer }} WON </h1>
    <h1 *ngIf="gameService.tie"> TIE </h1>

    <div class="btn-list">
      <button class="btn-primary" (click)="resetGame()"> Reset
      </button>
      <button class="btn-primary" (click)="selectGameMode('bot')"> Play with bot
      </button>
      <button class="btn-primary" (click)="selectGameMode('friend')"> Play with friend
      </button>
      <button class="btn-primary" (click)="logout()"> Logout
      </button>
    </div>
  </div>
</div>