<div id="login">
  <div class="login-form">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group username">
        <div class="input-form">
          <label for="username">Username:</label>
          <input type="text" formControlName="username"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        </div>
        <div *ngIf="submitted && f.username.errors" class="invalid">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
        <div *ngIf="submitted && isValid" class="invalid">
          <div *ngIf="isValid">Username or Password is not valid</div>
        </div>
      </div>
      <div class="form-group password">
        <div class="input-form">
          <label for="password">Password:</label>
          <input type="password" formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        </div>
        <div *ngIf="submitted && f.password.errors" class="invalid">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
      </div>
      <div class="form-group btn-login">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Login
        </button>
      </div>
    </form>
  </div>
</div>