#login {
  width: 100vw;
  height: 100vh;
  background-color: #e9ecef;
  display: flex;

  .login-form {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    h1 {
      text-align: center;
    }

    .username, .password {
      width: 270px;
      margin: 20px auto;

      .input-form {
        width: 270px;
        display: flex;
        label {
          margin-right: auto;
        }
  
        input {
          margin-left: auto;
        }
      }

      .invalid {
        color: red;
      }
    }

    .btn-login {
      margin: auto;
      width: 100px;

      button {
        width: 100px;
      }
    }
  }
}